.hud-container {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    border-bottom-right-radius: 15px;
    align-self: flex-start;
}

.hud-label {
    color: white;
    font-size: 24px;
    -unity-font-style: bold;
    margin-bottom: 5px;
    -unity-text-outline-width: 1px;
    -unity-text-outline-color: black;
}

.hud-value {
    color: #00ffff;
}
